@font-face {
    font-family: 'Tway Sky';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/TwaySky/TwaySky.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/TwaySky/TwaySky.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/TwaySky/TwaySky.ttf') format('truetype');
}
